<p id="notice"><%= notice %></p>

<h1>Available Apartments</h1>


<div id="apartments">
  <%= render @apartments %>
</div>


<br>


<%= link_to 'New Apartment', new_apartment_path, { :class=>"uk-button" }  %>
